# Environment variables

ASSISTANT_URL=https://api.eu-gb.assistant.watson.cloud.ibm.com
ASSISTANT_ID=
ASSISTANT_IAM_APIKEY=

CLOUDANT_ID=
CLOUDANT_IAM_APIKEY=

# Facebook 
# Page and application information
PAGE_ID=
APP_ID=
PAGE_ACCESS_TOKEN=
APP_SECRET=
